<div class="container">
<h1>Add Post</h1>

<% if flash[:errors]%>
  <% flash[:errors].each do |error|%>
    <p style="color:red"><%= error%></p>
    <% end %>
  <% end %>

<%= form_for @post, url: posts_path do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, placeholder: 'Enter Title' %>
    </p>

    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body, placeholder: 'Enter Content' %>
      <% f.hidden_field :user_id %>
    </p>

    <p>
      <%= f.submit %><br>
    </p>

<% end %>

<p>
    <%= link_to "Cancel", posts_path, class: "btn btn-sm btn-outline-secondary" %>
</p>
</div>
