<!DOCTYPE html>
<html>
  <head>
    <title>Jogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400i|Raleway:300i&display=swap"%>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-transparent mb-4">
    <a class="navbar-brand"><img src="https://image.flaticon.com/icons/svg/763/763812.svg" style="height:40px; width:auto;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "My Jogs", posts_path, class: "nav-link" %>
      </li>
       <li class="nav-item">
        <%= link_to "Explore", explore_path, class: "nav-link" %>
      </li>
    </ul>
    <% if logged_in? %>
    <form class="form-inline mt-2 mt-md-0">
      <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-sm btn-outline-secondary" %>
    </form>
    <% end %>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
