<!DOCTYPE html>
<html>
  <head>
    <title>Jogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <%= link_to "Jogger", home_index_path, class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Blogs", posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <%= link_to "Log in", new_session_path, class: "btn btn-sm btn-outline-secondary" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-sm btn-outline-secondary" %>
    </form>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
